<div class="container bgc-cms-1">
	<div class="row">
		<div class="col-md-2 bg-primary bg-col">
		    <p class="p-header"><img src="../assets/logo.jpg">后台管理系统</p>
			<ul>
			    <li><a routerLink="homepage"><span class="glyphicon glyphicon-user"></span> 首页</a></li>
				<li><a routerLink="admin"><span class="glyphicon glyphicon-user"></span> 管理员</a></li>
				<li><a routerLink="product"><span class="glyphicon glyphicon-list-alt"></span> 商品信息</a></li>
				<li><a routerLink="addprod"><span class="glyphicon glyphicon-th-list"></span> 添加商品</a></li>
				<li><a routerLink="chartlist"><span class="glyphicon glyphicon-list-alt"></span> 图表</a></li>
			</ul>
		</div>
		<div class="col-md-10 scrollers">
			<div class="bgc-cms">
				<app-menubar></app-menubar>
			</div>
			<router-outlet></router-outlet>
		</div>
	</div>
</div>