<div class="container bgc-cms-1">
	<div class="row">
		<div class="col-md-2 bg-col">
			<ul>
			    <li><a class="glyphicon glyphicon-user" routerLink="homepage">首页</a></li>
				<li><a class="glyphicon glyphicon-user" routerLink="admin">管理员</a></li>
				<li><a class="glyphicon glyphicon-list-alt" routerLink="product">商品信息</a></li>
				<li><a class="glyphicon glyphicon-th-list" routerLink="addprod">添加商品</a></li>
				<li><a class="glyphicon glyphicon-list-alt" routerLink="chartlist">图表</a></li>
			</ul>
		</div>
		<div class="col-md-10 scrollers">
			<div class="bgc-cms">
				<app-menubar></app-menubar>
			</div>
			<router-outlet></router-outlet>
		</div>
	</div>
</div>