<div class="container"> 
   <div class="row">
       <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1">商品名称</span>
          <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1" [(ngModel)]="product.product_name">
       </div>
       <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1">商品描述</span>
          <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1" [(ngModel)]="product.description">
       </div>
       <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1">商品价格</span>
          <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1" [(ngModel)]="product.price">
       </div>
       <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1">商品星级</span>
          <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1" [(ngModel)]="product.star">
       </div>
       <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1">商品类型</span>
          <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1" [(ngModel)]="product.assort">
       </div>
       <div>
          <button class="btn btn-warning">关闭</button>
          <button class="btn btn-success">保存</button>
       </div>
   </div>
</div>
<div class="fade">
  
</div>